body {
    background: #000;
}

.container {
    height: auto;
    width: 700px;
    margin: auto;
    position: relative;
}

.circle {
    height: 600px;
    width: 600px;
    border: 50px solid #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: 70px;
}

.a1 {
    height: 700px;
    width: 100px;
    background: #fff;
    position: absolute;
    left: 200px;
    z-index: 20px;
    transform: skew(-25deg);
}

.a2 {
    height: 630px;
    width: 100px;
    background: #fff;
    position: absolute;
    left: 400px;
    z-index: 30;
}

.a3 {
    height: 100px;
    width: 190px;
    background: #fff;
    position: absolute;
    left: 210px;
    top: 450px;
    z-index: 49;
}

.black_bar {
    height: 20px;
    width: 100px;
    background: #000;
    position: absolute;
    left: 22px;
    top: 590px;
    transform: rotate(-65deg);
    z-index: 50;
}

.black_bar2 {
    height: 20px;
    width: 100px;
    background: #000;
    position: absolute;
    left: 107px;
    top: 670px;
    transform: rotate(-65deg);
    z-index: 50;
}